<ion-header>
  <ion-toolbar>
    <!---- <ion-menu-button slot="start"></ion-menu-button> -->
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input type="text" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Senha</ion-label>
    <ion-input type="password" [(ngModel)]="senha"></ion-input>
  </ion-item>
  <center>
    <ion-button color="success" (click)="login()">Entrar</ion-button>
  </center>
</ion-content>